TURSO_DATABASE_URL=libsql://kvm-blackdude04.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODQyMDYxMzAsImlkIjoiMDE5ZjY5YjgtMmEwMS03MmRhLTkyNTEtNTQ4ZThkODAwOWExIiwia2lkIjoiNTV2cHFwYmR1dzAwMXg3TllqeG1tY3hZTmEtUTFZbDNDRWpGVUI2U1ZINCIsInJpZCI6IjljMDkyYjY1LTM0OTAtNDA0ZS04YTA3LWM3Zjk2MjI5ZGZhMiJ9.OZOCJTgNVjTTffZmlWu_XJ49LYZnux2Qc7I6OY-d-A4EFQnIPYZ3JHY7BLgY0_RiB1uhLWGCSA3K1CFAm0pBAA
